<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.westonline.socialplatform.mapper.ArticleMapper">
    <!--    id 对应的是mapper.CaseMapper里的方法名-->

    <select id="selectAllArticle" resultType="com.westonline.socialplatform.pojo.Article">
            select * from article order by releaseTime DESC;
    </select>

    <select id="getLikes" resultType="int">
        select count(*) from likes where articleId = #{id};
    </select>
    
    <select id="getAuthor" resultType="int">
        select userId from writing where articleId = #{id}
    </select>
    <select id="selectArticleById" resultType="com.westonline.socialplatform.pojo.Article">
        select * from article where articleId=#{id}
    </select>

    <select id="selectAllArticleOrdered" resultType="com.westonline.socialplatform.pojo.Article">
        select * from article order by numOfViews DESC;
    </select>


    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into article (articleName,body,releaseTime,numOfViews) values (#{articleName},#{body},NOW(),0);
    </insert>
    <insert id="insertWriting">
        insert into writing(articleId,userId) values (#{articleId},#{userId});
    </insert>
    <insert id="putToLike">
        insert into likes values (#{userId},#{articleId});
    </insert>

    <update id="updateViews">
        update article set numOfViews = numOfViews+1 where articleId = #{articleId};
    </update>


</mapper>